# ros2 build
build/
install/
log/

# python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# env
.vscode/
.cursor/
.idea/
.DS_Store

# colcon custom files
COLCON_IGNORE
AMENT_IGNORE

# web station
node_modules/
.next/
package-lock.json
pnpm-lock.yaml
yarn.lock